
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* common style */
.text2{
    color:#FD6E0A ;
}

/* nav styles */
nav {
display: flex;
    
}
.title3{

    font-weight: 800px;
font-size: 45px;
}
nav ul li{

   list-style: none;
}
nav ul li{

    text text-decoration: none;
}


