
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* common style */
.text2{
    color:#FD6E0A ;
}

.dark-2{

    color: #474747;
}

/* header */
.header{

background-image:url('../images/developer.png'), url('../images/header_bg.png');
background-repeat: no-repeat;
background-position:top left,bottom right;

}


/* nav styles */
nav {
display: flex;
align-items: center;
justify-content: space-between;
  margin: 0px 200px;  
}
nav ul{

    display: flex;
}
.title3{

    font-weight: 800px;
font-size: 45px;
}
nav ul li{
    align-items: center;
       margin-right: 51px;
   list-style: none;
}
nav li a{

    text-decoration: none;
    font-size: 20px;
}
.btn-primary{
border: none;
    background-color: #FD6E0A;
    font-weight: 700px;
    color: rgb(255, 255, 255);
padding: 10px;


}

/* banner style */
.banner{
justify-content: space-between;
    display: flex;
    margin: 0px 35px 200px;
}
.banner-greeting{

    font-size: 45px;
    font-weight: 600px;
}


.banner-title{

    font-weight: bold;
    font-size: 85px;
}
.banner-description{
font-size: 18px;


}

.banner-profile{


    
}
.banner-content{

    max-width: 580px;
}
/* section */

.secondary-bg{
background-color: antiquewhite;


}
.section-title{

    font-size: 35px;
    font-weight:bold ;
    
}
.section-description{

font-size: 18px;
color: #757575;



}
/* about style */
.about{
   border-radius: 10px;
padding: 130px 150px;
text-align: center;
margin-top: 130px;

}
/* main style */
main{
max-width: 1100px;
margin: 0 auto;


}

/* items */
.item-description{
    font-weight: 600;
}
.about-items{

    display: flex; justify-content: space-between;
}
/* what i do section */
.skills{

    text-align: center;
    padding: 30px;
    height: 200px;
    
    
}
  .skills-container{
box-shadow: 0px 6px 50px 0px  #f2efef;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 35px;
   
   

  } 
  











